/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
  Default: 400
  Medium: 500
  Semi-bold: 600
  Bold: 700

- Line heights
  Default: 1
  Small: 1.05
  Medium: 1.2
  Paragraph default: 1.6
  Large 1.8

- Letter spacing
  -0.5px
  0.75px

--- 02 COLORS

- Primary:
  #f3f3f3
  #f3bf92
  #eb9851

- Tints:
  #fdf2e9

- Shades:
  #cf711f
  #45260a

- Accents:


- Greys
#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS
0 1.2rem 1.8rem 0.6rem rgba(51, 51, 51, 0.4);

normal:
0 1.2rem 1.8rem 0.6rem rgba(51, 51, 51, 0.5);
hovered: 
0 4.8rem 7.2rem 1.2rem rgba(51, 51, 51, 0.25);


--- 06 BORDER-RADIUS

Default: 9px
Medium: 20px

--- 07 WHITESPACE

- Spacing system (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  /*font-size: 10px;*/
  /*10px / 16px = 0.625 = 62.5%*/
  /*Pecentage of user's browser font-size setting*/
  font-size: 62.5%;
  scroll-behavior: smooth;
  letter-spacing: 0.5px;
}

section {
  margin: 0 4.8rem 9.6rem 4.8rem;
}

::-webkit-scrollbar {
  display: none;
}
/*
::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #f3bf92;
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
  background-color: #eb9851;
}
*/

body {
  line-height: 1;
  font-weight: 400;
  color: #f3f3f3;
  overflow-x: hidden;
  background: linear-gradient(to bottom, transparent, rgba(243, 191, 146, 0.8));
}

p {
  text-align: right;
}

li {
  list-style: none;
  display: list-item;
}

main {
  justify-content: center;
  align-items: center;
  margin: 0 4.8rem 4.8rem 4.8rem;
}

button {
  display: inline-block;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  /*border-radius: 2px;*/
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 1.8px;
}

h2 {
  padding: 6.4rem;
  letter-spacing: 2px;
  font-size: 1.6rem;
  font-weight: 600;
}

*:focus {
  outline: none;
  /*outline: 4px dotted #cf711f;*/
  /*outline-offset: 8px;*/
  /*box-shadow: 0 0 0 0.6rem rgba(243, 191, 146, 0.2);*/
}

.heading-secondary {
  font-size: 3.2rem;
  color: #eb9851;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid rgba(207, 113, 31, 0.5);
}

.grid--3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4.8rem;
  column-gap: 4.8rem;
}

.grid--3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4.8rem;
  column-gap: 4.8rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--4-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 4.8rem;
  column-gap: 4.8rem;
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}
