/***********HEADER*********/

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14.8rem;
  width: 100%;
  transition: 1s;
  padding: 1rem 10rem;
  z-index: 1000;
}

header.section-header {
  padding: 0.5rem 16rem;
  background-color: rgb(80, 80, 80);
  opacity: 0.98;
}

.logo {
  width: 13.6rem;
  height: 13.6rem;
  transition: 0.2s;
  opacity: 1;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: inset 0 0 0 3px;
  box-shadow: 0 0 2.6rem 0 #f3bf92;
}

/***********NAVIGATION*********/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
  text-transform: uppercase;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #f3f3f3;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s;
  padding: 1.2rem 2.4rem;
  border-radius: 10rem;
  letter-spacing: 2px;
}

.main-nav-link:hover,
.main-nav-link:active {
  background-color: #444;
  color: #f3bf92;
  box-shadow: inset 0 0 0 3px #f3bf92;
  box-shadow: 0 0 2.6rem 0;
  transition: 0.3s;
}

.main-nav-link:hover {
  transform: scale(1.05);
}

.main-nav-link:active {
  transform: translateY(1px);
}

/***********HERO SECTION*********/

.hero {
  display: block;
  height: 95vh;
  background-image: linear-gradient(
      to bottom,
      rgba(51, 51, 51, 0.8),
      rgba(243, 191, 146, 0.8)
    ),
    url(img/salon.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-primary {
  color: #f3f3f3;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.hero-primary-main {
  display: block;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 2rem;
  margin-bottom: 2.4rem;
  text-transform: uppercase;

  animation: moveInTop 1.5s ease-out;
}

.hero-primary-second {
  margin-top: 1.6rem;
  font-size: 6rem;
  font-weight: 500;
}

.hero-primary-third {
  text-align: center;
  line-height: 4rem;
}

.hero-primary-sub {
  font-family: sans-serif;
  color: #f3f3f3;
  display: block;
  font-size: 2.6rem;
  font-weight: 500;
  letter-spacing: 1px;

  animation: moveInBottom 1.5s ease-out;
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-8rem);
  }

  80% {
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(8rem);
  }

  80% {
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/***********CONTAINER OFFERS SECTION*********/

.offers-container {
  width: auto;
  display: grid;
}

.offer-cabinet {
  box-shadow: 0 2.4rem 3.6rem rgba(0, 0, 0, 0.5);
  color: #f3f3f3;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  min-width: 30rem;
}

.offer-cabinet:hover {
  transform: scale(1.05);
  transition: all 1s;
}

.offer-haircut {
  height: 35vh;
  background: linear-gradient(
      to bottom,
      rgba(160, 88, 25, 0.3),
      rgba(102, 102, 102, 0.3)
    ),
    url(img/chair.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.offer-manicure {
  height: 35vh;
  background: linear-gradient(
      to bottom,
      rgba(160, 88, 25, 0.3),
      rgba(102, 102, 102, 0.3)
    ),
    url(img/manicure-table.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.offer-pedicure {
  height: 35vh;
  background: linear-gradient(
      to bottom,
      rgba(160, 88, 25, 0.3),
      rgba(102, 102, 102, 0.3)
    ),
    url(img/pedicure.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.offer-massage {
  height: 35vh;
  background: linear-gradient(
      to bottom,
      rgba(160, 88, 25, 0.3),
      rgba(102, 102, 102, 0.3)
    ),
    url(img/massage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.offer-laser {
  height: 35vh;
  background: linear-gradient(
      to bottom,
      rgba(160, 88, 25, 0.3),
      rgba(102, 102, 102, 0.3)
    ),
    url(img/laser.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.offer-sauna {
  height: 35vh;
  background: linear-gradient(
      to bottom,
      rgba(160, 88, 25, 0.3),
      rgba(102, 102, 102, 0.3)
    ),
    url(img/barrel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.offer-solarium {
  height: 35vh;
  background: linear-gradient(
      to bottom,
      rgba(160, 88, 25, 0.3),
      rgba(102, 102, 102, 0.3)
    ),
    url(img/tint.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.offer-press {
  height: 35vh;
  background: linear-gradient(
      to bottom,
      rgba(160, 88, 25, 0.3),
      rgba(102, 102, 102, 0.3)
    ),
    url(img/press.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.offer-cosmetology {
  height: 35vh;
  background: linear-gradient(
      to bottom,
      rgba(160, 88, 25, 0.3),
      rgba(102, 102, 102, 0.3)
    ),
    url(img/cosmetology.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.offer-makeup {
  height: 35vh;
  background: linear-gradient(
      to bottom,
      rgba(160, 88, 25, 0.3),
      rgba(102, 102, 102, 0.3)
    ),
    url(img/permanent.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.offer-eyebrow {
  height: 35vh;
  background: linear-gradient(
      to bottom,
      rgba(160, 88, 25, 0.3),
      rgba(102, 102, 102, 0.3)
    ),
    url(img/eyes-brows.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.offer-kids-zone {
  height: 35vh;
  background: linear-gradient(
      to bottom,
      rgba(160, 88, 25, 0.3),
      rgba(102, 102, 102, 0.3)
    ),
    url(img/kids.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cabinet-heading {
  background-color: rgba(68, 68, 68, 0.6);
  padding: 3.2rem 0;
}

.icon-offer {
  display: inline-block;
  position: relative;
  color: #f3f3f3;
  margin: 3.6rem 0 0;
}

.img-icon {
  color: #f3f3f3;
  width: 18%;
}

.offer-btn {
  display: block;
  text-align: center;
  position: static;
  margin: 3.6rem 3.2rem 0;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #f3f3f3;
  padding: 1.2rem;
  border-radius: 2px;
  /*box-shadow: inset 0 0 0 1px #fff;*/
  cursor: pointer;
  font-family: inherit;
  transition: all 0.6s;
  margin: 1.2rem;
  background-color: rgba(68, 68, 68, 0.6);
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #f3f3f3;
  transition: all 0.2s;
  letter-spacing: 2px;
}

.btn:hover,
.btn:active {
  color: #f3bf92;
  box-shadow: inset 0 0 0 3px #f3bf92;
  transition: 0.6s;
  box-shadow: 0 0 2.6rem 0;
  background-color: #444;
  border: none;
}

.modal-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.modal-heading h2 {
  padding: 2.4rem;
}

.img-icon-modal {
  width: 4.8rem;
}

.price-modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.7);
  animation: fadeIn 0.8s;
}

.price-modal.open-modal {
  opacity: 1;
  visibility: visible;
}

.price-modal.close-modal {
  opacity: 0;
  visibility: hidden;
}

.price-info {
  background-color: #444;
  border-radius: 1rem;
  margin: 10% auto;
  width: 40%;
  box-shadow: 0 2.4rem 3.6rem rgba(0, 0, 0, 0.5);
  animation: slideIn 0.8s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.close-btn {
  color: #f3f3f3;
  float: right;
  font-size: 4.8rem;
  padding-right: 1.2rem;
}

.close-btn:hover,
.close-btn:focus {
  text-decoration: none;
  color: #eb9851;
  cursor: pointer;
}

button.btn-accordion {
  background-color: #333;
  color: #f3f3f3;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  outline: none;
  padding: 0.8rem;
  transition: 0.3s;
  margin-bottom: 0.6rem;
  border-radius: 2px;
  font-size: 1.8rem;
}

.btn-accordion:active,
.btn-accordion:hover {
  background-color: #eb9851;
}

.btn-accordion.active,
.btn-accordion.active:hover {
  background-color: #eb9851;
  /* Add the desired color for the active state */
  color: #333;
  letter-spacing: 2px;
  font-weight: 600;
}

.chevron-down {
  width: 1.2rem;
  height: 100%;
  display: inline-block;
  overflow: hidden;
}

.text-accordion {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s;
}

.text-accordion.show {
  background-color: #333;
  padding: 2.4rem;
  margin-bottom: 1.2rem;
  margin-top: -0.6rem;
  box-shadow: 0 0.2rem 6rem rgba(243, 191, 146, 0.2);
  border-radius: 0 0 1rem 1rem;
  opacity: 1;
  max-height: 50rem;
  transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}

.text-accordion p {
  color: #f3f3f3;
  font-weight: 300;
  line-height: 1.2;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  letter-spacing: 0.8px;
  text-align: end;
}

.price {
  border-bottom: 1px solid #f3bf92;
}

.kids__zone {
  background-color: #f3bf92;
  color: #3a501e;
}

/**************SECTION ABOUT COSMETICS*************/

.section-cosmetics {
  color: #444;
  font-weight: 400;
}

.composition {
  position: relative;
}
.composition__photo {
  width: 15%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  position: absolute;
  z-index: 10;
  transition: all 0.3s;
  outline-offset: 0.6rem;
  outline: 0.2px solid rgba(51, 51, 51, 0.1);
}

.composition__photo:hover {
  outline: 0.6rem solid #eb9851;
  transform: scale(1.1) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.composition__photo--p1 {
  right: 0;
  top: 28rem;
}
.composition__photo--p2 {
  left: 10rem;
  top: -4rem;
}
.composition__photo--p3 {
  right: 10rem;
  top: 12rem;
}
.composition__photo--p4 {
  right: 0;
  top: 2rem;
}

.composition__photo--p5 {
  right: 20rem;
  top: -2rem;
}
.composition__photo--p6 {
  right: 32rem;
  top: 28rem;
}
.composition__photo--p7 {
  left: 52rem;
  top: 25rem;
}
.composition__photo--p8 {
  left: 24rem;
  top: 8rem;
}

.composition__photo--p9 {
  left: 31rem;
  top: -7rem;
}

.composition__photo--p10 {
  left: 40rem;
  top: 8rem;
}
.composition__photo--p11 {
  left: 2rem;
  top: 23rem;
}
.composition__photo--p12 {
  left: -1rem;
  top: 2rem;
}
.composition__photo--p13 {
  left: 23rem;
  top: 30rem;
}
.composition__photo--p14 {
  left: 12rem;
  top: 16rem;
}

.row {
  background-color: rgba(243, 243, 243, 0.5);
  padding: 4.8rem 2.4rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^="col-"] {
  float: left;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

/***********CONTACTS SECTION*********/

.location {
  min-width: 50%;
}
/**************FOOTER*************/

.footer {
  padding: 0;
  border-top: 1px solid rgba(207, 113, 31, 0.5);
  color: #cf711f;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1.4rem;
  margin: 2.4rem 0;
  justify-content: center;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #cf711f;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #f3f3f3;
}

.copyright {
  display: flex;
  font-size: 1.4rem;
  line-height: 1.6;
  margin-top: auto;
  justify-content: center;
  margin-bottom: 2.4rem;
}

/*
.desc-content {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 2.4rem 3.6rem rgba(0, 0, 0, 0.5));
}

.text-description {
  background: #f7f7f7;
  color: #333;
  font-size: 2rem;
  font-weight: 400;
  justify-content: center;
  align-content: center;
  padding: 9.6em;
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
}

.img-slider {
  min-height: 30em;
  height: 60vh;
  width: 100%;
  position: relative;
  background-image: url(img/offers/1.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
  border-radius: 1rem;
  box-shadow: 0 2.4rem 3.6rem rgba(0, 0, 0, 0.5);
}

.img-slider * {
  box-sizing: border-box;
}

.arrow-left,
.arrow-right {
  display: flex;
  background: rgba(68, 68, 68, 0.8);
  position: absolute;
  top: 45%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
}

.arrow-left:hover,
.arrow-right:hover {
  background: rgba(235, 153, 81, 0.8);
}

.fas {
  width: 5rem;
  height: 5rem;
}

.arrow-left {
  left: -1.5em;
}

.arrow-right {
  right: -1.5em;
}
*/
